body{
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-size: 20px;
    color: white;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}

nav{
    width: 100%;
}

.listOfNavs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

p{
    padding: 20px;
}

.highlight{
    position: absolute;
    top:0;
    left: 0;
    background: white;
    border: 2px solid white;
    transition: all 0.2s;
    z-index: -1;
    border-radius: 10px;
    display: block;
}