

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset;
    background-color: antiquewhite;
    font-weight: bold;
    width: 100%;
    color: black;
}

input:checked + p{   
     text-decoration: line-through;
}