
body{
    font-size: 20px;
    line-height: 2rem;
    background-color: yellow;
}

.paradiv{
    max-width: 700px;
    text-align: center;
    margin-left: 25%;
    background-color: white;
}

.alignleft{
    float: left;
   margin-right: 20px;
}

.alignright{
    float: right;
    margin-left: 20px;
}

.slidein{
    opacity: 0;
    transition: all .5s;
}

.alignleft.slidein{
    transform: translateX(-30%) scale(0.95);
}


.alignleft.slidein{
    transform: translateX(30%) scale(0.95);
}
